@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/*
  VARIABLES DECLARATION ON ROOT
*/
:root {
    --green: rgb(33, 250, 131);
    --red: rgb(252, 86, 108);
    --dusky-green: rgb(6, 170, 94);
    --opac-white: rgba(255, 255, 255, .8);
    --form-txt:  rgba(255, 255, 255, .5);
    --darky: #1d2b3a;
    --light-grey: rgb(105, 105, 105);
}

/*
    COMMON STYLING
*/
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-image: url('../assets/thrive.png'); 
    background-size: cover; 
    background-position: center; 

    overflow: hidden;
}

/* 
    MAIN(SIGN-UP CARD) SECTION
*/
.card-container {
    display: grid;
    grid-template-columns: calc(100% - 60%) auto;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff00;
    background-size: cover; 
    background-position: center; 
}

/*
    FORM SECTION
*/
.form-container {
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
    padding: 50px;
    color: white; 
    
}
.form-header {
    grid-column: 1 / -1;
    letter-spacing: .06em;
    margin-bottom: 30px;
    font-size: 40px;
    background-color: #ffffff00;
    background-size: cover; 
    background-position: center;   
}
input {
    display: block;
    border-radius: 4px;
    border: 0;
    border-bottom: 1px solid rgb(0,0,0,.4);
    padding: 6px 6px 6px 10px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0);
    transition: all .5s ease-in;
    color: white; 
} 
input::placeholder{
    content: none;
}
span {
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .4s;
}
[type="submit"]{
    border: 0;
    background-color: var(--dusky-green);
    color: white;
    padding: 10px 50px;
    letter-spacing: .05em;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 17px;
    outline: none;
}
form {
    width: auto;
    display: grid;
    place-items: center;
}
.btm-text {
    margin-top: 15px;
    font-size: 14px;
}
.btm-text-highlighted {
    color: var(--dusky-green);
}
.input-container {
    position: relative;
}
span:not(.btm-text-highlighted) {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    pointer-events: none;
}

/*
    INPUT FIELD EFFECTS SECTION
*/
input:focus ~ span,
input:valid ~ span{
    font-size: 10px;
    transform: translateX(4px) translateY(-7px);
    font-size: 0.80em;
    padding: 0 6px;
    color: var(--cyny-green);
    background-color: var(--dusky-green);
    color: white;
    border-radius: 2px;
}
input:focus,
input:focus-visible {
    border: 1px solid  var(--green);
    box-shadow: 0 0 5px rgb(0,0,0,.3);
    outline: none;
}
input:valid {
    border: 1px solid var(--green);  
}

/* 
    ERROR PROMPTER SECTION
*/
.error {
    color: rgb(255, 51, 51);
    font-family: sans-serif;
    font-weight: 500;
    text-transform: none;
    overflow: hidden;
    margin-top: 4px;
}

/*
    IMAGE ILLUSTRATION SECTION
*/
.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('../assets/thrive.png'); 
    background-size: cover; 
    background-position: center; 
    color: white;
    padding-left: 5%;
}
.branding {
    text-align: left;
}
.company {
    font-size: 0px;
}
.quote {
    font-size: 0px;
    margin-top: -10px; 
}
.outro-overlay > .company{
    position: absolute;
    top: 0;
}
.mobile-btm-nav {
    display: none;
}


.mobile-btm-nav {
    text-decoration: none;
    display: none;
}
.mobile-btm-nav > img {
    transform: scale(.3) rotateZ(180deg);
}


@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}



/* 
    GREETING SECTION (SHOWS AFTER SIGNING UP)
*/
.outro-overlay {
    display: flex;
    background-color: black; 
    height: 100vh;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    position: relative;
}
.outro-overlay > #signedUp-illustration {
    height: 90%;
    z-index: 2;
}
.outro-overlay > .shape {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    animation: 1.3s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    width: 150%;
}
.outro-overlay > .outro-greeting {
    z-index: 3;
    font-weight: 700;
    letter-spacing: .02em;
    word-spacing: .1em;
}
.disabled {
    display: none ;
}

/*
  SVG ANIMATION
*/
.slideUp-animation {
    animation: 1.3s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp;animation-delay: 0s;
} 
.slideRight-animation {
    animation: 1.3s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideRight;animation-delay: 0s;
}                             
@keyframes slideUp {  
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: inherit;  }    
}                    
@keyframes slideRight {              
    0% { opacity: 0; transform: translateX(30px); }                
    100% { opacity: 1; transform: translateX(0);   }
}

/*
    AUTHOR LINK
*/
.author-link{
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    z-index: 5;
}
.author-link,
a {
    text-decoration: none;
    color: var(--light-grey);
    transition: .3s ease-out;
}
.author-link > a:hover {
    color: var(--darky);
}


@media only screen and (max-width: 540px) {
   
    
    body {
        width: 100%;
        overflow: visible;
    }
    .image-container > [class] {
        transform: scale(1);
    }
    .quote {
        margin-top: -50px;
    }
    .card-container {
        grid-template-rows: 100vh minmax(100vh, auto);
        grid-template-columns: none;
        overflow: hidden;
        height: auto;
       
    }
    .image-container {
        width: 100%;
        position: relative;
        
    }
    .image-container > img {
        width: calc(110%);
    }
    .error {
        font-size: 13px;
    }
    .form-container {
        display: grid;
        place-items: center ;
        grid-template-columns: none;
        grid-template-rows: none;
        gap: 20px;
        width: 100%;
        gap: 45px;
        padding: 0;
        color: rgba(255, 255, 255, .5);
        
    }
    .mobile-btm-nav {
        display: block;
        position: absolute;
        bottom: 0;
        display: block;
        animation: float 1s cubic-bezier(0.59, 0.575, 0.565, 1) infinite;
    }
    form {
        padding: 50px;
        display: flex;
        align-items: center;
    }
    .outro-overlay {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    .outro-overlay > #signedUp-illustration {
        height: auto;
        z-index: 2; 
    }
    .outro-overlay > .shape {
        display: none;
    }
    .outro-overlay > .outro-greeting {
        font-size: 20px;
        order: 1;
    }

    
}

#live-stocks {
    font-family: Arial, sans-serif;
}

#live-stocks h2 {
    font-size: 40px;

    color: #333;
    text-align: center;
}

#live-stocks .scrollable {
    overflow-y: auto;
    max-height: 400px; 
}

#live-stocks table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#live-stocks th, #live-stocks td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#live-stocks th {
    background-color: #f2f2f2;
    color: #333;
    text-align: center;

}

#live-stocks tr:nth-child(even) {
    background-color: #f9f9f9;
}

#live-stocks tr:hover {
    background-color: #f1f1f1;
}

#live-stocks td {
    color: #333;
}

#portfolio {
    font-family: Arial, sans-serif;
    text-align: left;
}

#portfolio h1, #portfolio h2 {
    color: #333;
    margin-bottom: 10px;
}

#portfolio .container {
    padding: 20px;
}

#portfolio .scrollable {
    overflow-y: auto;
    max-height: 400px;
}

#portfolio table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#portfolio th, #portfolio td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#portfolio th {
    background-color: #f2f2f2;
    color: #333;
}

#portfolio tr:nth-child(even) {
    background-color: #f9f9f9;
}

#portfolio tr:hover {
    background-color: #f1f1f1;
}

#portfolio td {
    color: #333;
}  
